@import './normalize.css';

@import './index/header.css';
@import './index/search.css';
@import './index/filter.css';

@import './index/main/main.css';
@import './index/main/activity.css';
@import './index/main/housing.css';
@import './index/main/popular.css';

@import './index/footer.css';

* {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  object-fit: cover;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

a {
  cursor: pointer;
}
