@import './normalize.css';

@import './index/header.css';
@import './index/search.css';
@import './index/filter.css';

@import './index/main/main.css';
@import './index/main/activity.css';
@import './index/main/housing.css';
@import './index/main/popular.css';

@import './index/footer.css';

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0 380px;
}
