.activity-container {
  display: flex;
  flex-direction: column;
  margin: 48px 0 8px 0;
}

.activity-container > h4 {
  margin-bottom: 18px;
  font-weight: bolder;
}

.activity-card-container {
  display: flex;
  height: 370px;
}

.activity-card-solo {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  border-radius: 16px 16px 16px 16px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.activity-card-solo > img {
  border-radius: 16px 16px 0 0;
  height: 90%;
  object-fit: cover;
}

.activity-card-solo:first-child {
  margin-right: 32px;
}

.activity-card-solo:not(:first-child) {
  margin: 0 32px;
}

.activity-card-solo:hover {
  transform: scale(1.03);
}

.activity-card-solo > p {
  font-weight: bolder;
  font-size: 12px;
  padding: 15px;
}

.activity-card-duo-container {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  justify-content: space-between;
}

.activity-card-duo {
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 16px 16px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.first {
  height: 55%;
}

.first > img {
  height: 78%;
  border-radius: 16px 16px 0 0;
}

.two {
  height: 35%;
}

.two > img {
  height: 66%;
  border-radius: 16px 16px 0 0;
}

.three {
  height: 45%;
}

.three > img {
  height: 75%;
  border-radius: 16px 16px 0 0;
}

.four {
  height: 45%;
}

.four > img {
  height: 75%;
  border-radius: 16px 16px 0 0;
}

.activity-card-duo:hover {
  transform: scale(1.03);
}

.activity-card-duo > p {
  padding: 14px;
  font-weight: bolder;
  font-size: 12px;
}
