.popular-container {
  flex-basis: 33%;
  margin-left: 28px;
  background-color: #ededed96;
  border-radius: 14px;
  padding: 24px;
}

.popular-head {
  display: flex;
  margin: 15px 4px;
  justify-content: space-between;
  margin-bottom: 18px;
}

.popular-head > h4 {
  font-weight: bolder;
}

.popular-head > span {
  font-size: 18px;
}

.popular-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-card {
  display: flex;
  width: 282px;
  margin-bottom: 26px;
  padding-right: 18px;
  border-radius: 16px 16px 16px 16px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.popular-card:hover {
  transform: scale(1.03);
}

.popular-card > img {
  object-fit: cover;
  border-radius: 16px 0 0 16px;
  padding: 4px;
  width: 40%;
}

.popular-card-info {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  margin-right: 4px;
}

.popular-card-info > h5 {
  font-size: 13px;
  font-weight: bolder;
  margin: 12px 0 4px 0;
}

.popular-card-info > p {
  font-size: 11px;
}

.popular-star-container {
  margin-top: 28px;
  margin-bottom: 8px;
}

.popular-star-container > i {
  font-size: 9px;
  letter-spacing: -2px;
}

.popular-card-info > p > span {
  font-weight: bolder;
}
