.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.111);
  padding: 42px;
}

.footer-item-container {
  display: flex;
  width: 1050px;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-item:not(:first-child) {
  margin-left: 220px;
}

.footer-item > h6 {
  margin-bottom: 14px;
  font-size: 13px;
}

.footer-item > a {
  font-size: 12px;
  margin-bottom: 8px;
}

.footer-item > a {
  font-size: 12px;
  margin-bottom: 8px;
  transition: transform 0.3s ease;
}

.footer-item > a:hover {
  transform: translate(8px);
}
